@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body {
    margin: 0;
    overflow-x: clip;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    color: black;
    font-size: var(--font-base);
}

.vertical-spacer {
    border-left: #5d5d5d 3px solid;
    padding: 0rem 0rem 0rem 1rem;
}

.hide-mobile {
    display: none;
}

.show-mobile {
    display: block;
}

 @media only screen and (max-width: 600px) {
 }

 @media only screen and (min-width: 600px) {
 }
 
 @media only screen and (min-width: 868px) {
    .hide-mobile {
        display: flex;
    }
    .left-navigation {
        display: flex;
    }
}

 @media only screen and (min-width: 1092px) {
 }

 @media only screen and (min-width: 1700px) {
 }