footer {
    padding: 1.5rem 1.5rem;
    border-top: 0.5px solid #ababab;
    border-bottom: 0.5px solid #ababab;
    font-weight: lighter;
    font-size: larger;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-container .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

footer .footer-container .left .text {
    font-size: x-large;
}

footer .footer-container .right {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    gap: 1rem;
}

footer .footer-container .right .footer-navigation {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
}

footer .footer-container .right .footer-navigation .nav-element:hover {
    border-bottom: 1px black solid;
}

footer .footer-container .right .notice {
    width: max-content;
    align-self: center;
}

footer .footer-container .left .btn-p {
    display: none;
}

@media only screen and (min-width: 868px) {
    footer .footer-container {
        flex-direction: row;
    }

    footer .footer-container .left .btn-p {
        display: block;
    }

    footer .footer-container .right {
        margin-top: 0rem;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0rem;
    }
}