header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #ababab;
    background-color: white;
}

header .left {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.75rem;
}

header .right {
    display: flex;
    align-items: center;
    align-self: center;
    margin-right: 0.75rem;
}

header .right .text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

header .left .logo {
    padding: 0.75rem;
    display: flex;
    gap: 1rem;
    font-size: x-large;
}

header .left .left-navigation {
    display: none;
    align-self: center;
    font-size: large;
    gap: 1rem;
    margin-left: 1rem;
    font-weight: lighter;
}

header .left .left-navigation .active {
    border-bottom: 1px black solid;
}

header .left .left-navigation div:hover {
    border-bottom: 1px black solid;
}

@media only screen and (min-width: 868px) {
    header .right .text {
        display: none;
    }

    header .left .left-navigation {
        display: flex;
    }
}