header {
    background-color: white;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1em;
    align-items: center;
}

header .wrapper .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header .wrapper .left .mobile-menu-burger .close-button img {
    height: 2rem;
}

header .wrapper .left .mobile-menu-burger .close-button {
    border: none;
    background-color: white;
}

header .wrapper .left .text {
    font-weight: bolder;
    font-size: xx-large;
}

header .wrapper .center .navigation {
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    font-size: larger;
    display: none;
}

header .wrapper .center .navigation div {
    border-bottom: 1px solid transparent;
}

header .wrapper .center .navigation div:hover {
    border-bottom: 1px solid black;
}

header .wrapper .center .navigation .active {
    font-weight: bold;
}

header .wrapper .right .btn-primary {
    padding: 0.75rem 1.75rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
}

header .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: white;
    color: black;
    width: 90vw;
    padding: 2rem;
    box-shadow: 0px 0px 250rem 7rem #e9e9e9;
    display: none;
    transition-duration: 1s;
}

header .sidebar div {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #ccc;
    font-size: large;
}

header .sidebar div:hover {
    background-color: #eee;
}

header .sidebar div.spacer {
    margin-top: 1rem;
}

header .sidebar div.spacer:hover, header .sidebar .footnote:hover {
    background-color: white;
}

header .sidebar div.active {
    font-weight: bold;
}

header .sidebar .footnote {
    border-bottom: none;
    font-size: medium;
    color: gray;
    margin-top: 1rem;
}

header .sidebar .close-img {
     float: right;
     margin-bottom: 1rem;
}

header .sidebar .close-img .close-button {
    border: none;
    background-color: white;
}

header .sidebar .close-img img {
    width: 1.25rem;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {
    header .sidebar {
        width: 75vw;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1092px) {
    header .wrapper {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    header .wrapper .center .navigation {
        display: flex;
    }

    header .wrapper .left .mobile-menu-burger img {
        display: none;
    }

    header .sidebar {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    header .wrapper {
        margin-right: 12rem;
        margin-left: 12rem;
    }
}