section.banner {
    background-color: lightblue;
    border-bottom: 0.5rem solid blue;
    color: black;
    padding: 4rem 1.5rem;
}

section.banner .section-heading {
    font-size: xx-large;
    font-weight: bolder;
    padding: 1rem 0rem;
}

section.banner .section-description {
    font-size: larger;
}

section.end-section {
    background-color: lightblue;
    border-top: 0.5rem solid blue;
    color: black;
    padding: 4rem 1.5rem;
}

section.end-section .section-heading {
    font-size: x-large;
    font-weight: bolder;
    padding: 1rem 0rem;
}

section.end-section .section-description {
    font-size: large;
}

.card-holder .card {
    max-width: 22rem;
    box-shadow: 0px 0px 30px 10px gold;
}

.license-holder {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    width: 80%;
    padding: 1rem;
    margin: 0rem;
    flex-direction: column;
    align-items: center;
}

.license-holder .card {
    max-width: none;
    width: 35%;
    min-width: 14rem;
    background-color: #d6ffcf;
    box-shadow: none;
}

.license-holder .card .card-title {
    background-color: #5eff44;
}

.license-holder .card .card-end {
    background-color: #5eff44;
}

.license-holder .card .card-end:hover {
    background-color: #31ff00;
}

.license-holder-text {
    font-size: xx-large;
}

.section-licensing {
    width: 70%;
    margin: 0 auto;
    padding: 3rem;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 868px) { 
    .license-holder {
        flex-direction: row;
        padding: 2rem 0rem;
    }
}